     #Sobremi {
            text-align: center;
            margin-top: 50px; /* Espacio superior para centrar verticalmente */
        }
        
          .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #CC5A5A; /* Color de fondo del SideNav */
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 20px;
        }

        .sidenav a {
            padding: 10px 8px 10px 16px;
            text-decoration: none;
            font-size: 18px;
            color: #44B5C4;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            background-color: #ddd;
            color: black;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
        
         #contador {
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 24px;
        }
        